*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

header{
background-color: #2062AD;
color: #ffffff;
width: 100%;
height: 9vh;
display: flex;
flex-direction: column;
align-content: center;
position: fixed;
box-shadow: 0px 5px 22px 2px rgba(242,211,56,0.9);
-webkit-box-shadow: 0px 5px 22px 2px rgba(242,211,56,0.9);
-moz-box-shadow: 0px 5px 22px 2px rgba(242, 211, 56, 0.9);
}

main{
    padding-top: 9vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#div-header{
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

#div-item h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

#nav-list{
    position: fixed;
    background-color: #ddd;
    width: 12vw;
    height: 5vh;
    border-radius: 0px 0px 5px 0px;
}

#nav-list img{
    width: 80%;
    margin: 10%;
}

#nav-list-header{
    display: flex;
    margin-bottom: 1%;
    align-content: center;
}

#nav-list-title{
    font-weight: bold;
    margin: 0px;
    width: 85%;
    text-align: center;
    align-self: center;
    color: #2062AD;
}

#logo-cimol{
    width: 100%;
}

.list-item{
    border-top: 2px solid #f2d338;
    padding: 2% 0% 2% 5%;
}

.list-item a{
    color: #2062AD;
    font-size: 2rem;
    text-decoration: none;
    text-transform: none;
}

#list-header{
    display: flex none;
    flex-direction: column;
    border-radius: 0px;
    margin: 0px;
    list-style: none;
    padding-left: 0px;
}

.item-main{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

#content-text h1,p{
    text-align: center;
}

#content-text h1{
    font-size: 2.5rem;
    font-weight: bold;
}

#content-text p{
    font-size: 1.7rem;
}

.item-main form{
    display: flex;
    justify-content: center;
}

#form-div{
    display: flex;
    align-items: center;
    width: 100%;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    font-size: 1.8rem;
}

.form-container div input{
    border-radius: 10px;
    border: 3px solid #2062AD;
    padding: 10px;
}

#btn-login{
    width: 80%;
    background-color: #2062AD;
    border-radius: 10px;
    border: 0px solid transparent;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
    margin-top: 5%;
}

.disabled{
    display: none;
}

@media only screen and (min-width: 1024px) {
    /*  |  MAIN | */
    main{
        padding-top: 15vh;
        flex-direction: row;
        justify-content: center;
    }

    /*  |  HEADER | */
    header{
        height: 15vh;
        align-content: center;
    }

    #div-header{
        height: 15vh;
    }

    #div-item h1{
        font-size: 2.5rem;
    }

    /*  | LISTA | */
    #logo-cimol{
        width: 100%;
    }

    #nav-list img{
        width: 15%;
        margin: 0px;
        display: none;
    }

    #nav-list{
        width: 25%;
        height: 100%;
        position: static;
        display: none;
    }

    #list-header{
        display: flex;
        height: 100%;
    }

    #nav-list-title{
        display: block;
        text-align: center;
        width: 100%;
        padding: 2% 0% 2% 0%;
    }

    #div-main{
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content-text h1{
        font-size: 3.5rem;
    }

    #content-text p{
        font-size: 2.2rem;
    }

    .item-main{
        margin-top: 2%;
        width: 80%;
    }

    .form-content{
        width: 80%;
    }

    .form-input{
        width: 100%;
    }

    #btn-login{
        margin-top: 2%;
    }

    #form-div{
        width: 80%;
    }
}

@media only screen and (max-height: 769px) {
    .list-item{
        padding: 0.5% 0% 0.5% 5%;
    }
    .item-main{
        margin-top: 1%;
    }
    #content-text h1{
        font-size: 3rem;
    }
    #content-text p{
        font-size: 1.8rem;
    }
}

@media only screen and (min-height: 900px) {
}